<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :positivo %><br>
    <%= f.number_field :positivo %>
  </div>
  <div class="field">
    <%= f.label :negativo %><br>
    <%= f.number_field :negativo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
