<p id="notice"><%= notice %></p>


<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @usuario.sexo %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @usuario.celular %>
</p>

<p>
  <strong>Id Instituição:</strong>
  <%= @usuario.id_instituicao %>
</p>

<p>
  <strong>Id Facebook:</strong>
  <%= @usuario.id_facebook %>
</p>

<p>
  <strong>Token:</strong>
  <%= @usuario.token %>
</p>

<p>
  <strong>Positivo:</strong>
  <%= @usuario.positivo %>
</p>

<p>
  <strong>Negativo:</strong>
  <%= @usuario.negativo %>
</p>

<p>
  <strong>Meus Pontos:</strong>
  <%= @usuario.meuspontos %>
</p>

<p>
  <strong>Anuncios:</strong>
  <%= @usuario.anuncios %>
</p>



<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Voltar', usuarios_path %>
