<p id="notice"><%= notice %></p>

<h1>Listing Anuncios</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Preco</th>
      <th>Imagem</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td><%= anuncio.titulo %></td>
        <td><%= anuncio.descricao %></td>
        <td><%= anuncio.preco %></td>
        <td><%= anuncio.imagem %></td>
        <td><%= anuncio.token %></td>
        <td><%= link_to 'Show', anuncio %></td>
        <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
        <td><%= link_to 'Destroy', anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anuncio', new_anuncio_path %>
