<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @anuncio.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @anuncio.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @anuncio.preco %>
</p>

<p>
  <strong>Imagem:</strong>
  <img alt="Embedded Image" src="data:image/jpeg;base64,<%= @anuncio.imagem %>" height="84" width="84" />
  <%#= @anuncio.imagem %>
</p>

<p>
  <strong>Token:</strong>
  <%= @anuncio.token %>
</p>

<p>
  <strong>Negocio Fechado:</strong>
  <%= @anuncio.negocio_fechado %>
</p>

<p>
  <strong>Avaliação do Anunciante:</strong>
  <%= @anuncio.pontosanunciante %>
</p>


<%= link_to 'Editar', edit_anuncio_path(@anuncio) %> |
<%= link_to 'Voltar', anuncios_path %>
